extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${store.photo || 'store.jpg'}`)
      h2.title.title--single
        a(href=`/stores/${store.slug}`) #{store.name}

  .single__details.inner
    img.single__map(src=h.staticMap(store.location.coordinates)) 
    p.single__location= store.location.address
    p
    div(style="text-align:center")
      img(src=`/uploads/${store.photo || 'store.jpg'}` width="300" height="250")
    p
      text Birth Date: 
      text= store.birthday
    p
     text Phone Number: 
     text= store.phone  

    p(style="text-align:center")
     text Description: 
     br
     text= store.description

    if store.tags
     ul.tags
      each tag in store.tags
        li.tag
          a.tag__link(href=`/tags/${tag}`)
            span.tag__text #{tag}